<head>
  <meta charset="utf-8">
  <script src="https://js.braintreegateway.com/web/dropin/1.24.0/js/dropin.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="dropin-container"></div>
  <button id="abc">Request payment method</button>
  <script>
    var button = document.querySelector('#abc');
    button.addEventListener('click', async function () {
      await axios.get('/getToken')
        .then(function (response) {
          braintree.dropin.create({
            authorization: `${response.data.clientToken}`,
            container: '#dropin-container',
            paypal: {
              flow: 'checkout',
              amount: '10.00',
              currency: 'USD'
            }
          });
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        })
    });
  </script>
</body>